
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-key:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\e803'; } /* '' */
.icon-tools:before { content: '\e804'; } /* '' */
.icon-book-open:before { content: '\e805'; } /* '' */
.icon-hourglass:before { content: '\e806'; } /* '' */
.icon-emo-happy:before { content: '\e807'; } /* '' */
.icon-ok-circle:before { content: '\e808'; } /* '' */
.icon-star:before { content: '\e809'; } /* '' */
